@font-face {
   font-family: 'Hestrial';
   font-display: swap;
   src: url('file:///C:/Users/yohan/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-02-20_222659/fonts/Hestrial/font.ttf');
}
